 /********************** Tag selector ********************/

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    background-color: #d2eeee;
}

h1{ 
    color: #27BB89;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    text-align: center;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

h2 { 
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Sacramento', cursive; */
    font-size: 50px;
    color: #29BB89;
    /* text-shadow: 4px 4px 3px rgba(0,0,0,0.1);  */
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.089); 
}

h3 { 
     color:#29BB89;
     font-size:30px;


}

hr {

    border-style: none;
    border-top-style: dotted;  
    border-color: grey;
    border-width: 5px;
    width: 5%;

}

p { 
    font-size:30px;
    
}

a:hover {
    color: blue;
}

/****************************** Class Selector **********************************/
